
<form method="post" action="{{ path('app_famille_delete', {'id': famille.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ famille.id) }}">
    <button class="ui red button" type="submit">
        <i class="trash icon"></i> Supprimer
    </button>
</form>
