{% extends 'base.html.twig' %}

{% block title %}Edit Zoo{% endblock %}

{% block body %}
    <h1>Edit Zoo</h1>

    {{ include('zoo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_zoo_index') }}">back to list</a>

    {{ include('zoo/_delete_form.html.twig') }}
{% endblock %}
